.imagen{
    text-align: right;
    // margin-top: 6px;
    // margin-right: 0px;
    width: 100;
    
}
.titulo{
    color: white;
    font-style: italic;
    margin-top: 5px;

}
.descri{
    color: white;
    margin-top: 6px;
}